# See http://help.github.com/ignore-files/ for more about ignoring files.

# output
/dist
/dist-ssr
/tmp
/out-tsc
/lib
/es
/dist
# dependencies
/node_modules
*.local
yarn.lock
package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# Optional eslint cache
.eslintcache
# Typescript v1 declaration files
typings/
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# umi
.umi
.umi-production

es/.umi
lib/.umi

# System Files
.DS_Store
Thumbs.db
